.logo{
    img{
        display: block;
        width: 95px;
    }
}

.menu-items{
    @include flexlayout(space-between, center);

    .menu-item{
        @include menustyle;

        &:hover .menu-link{
            color: $color-secondary;
        }

        .menu-link{
            display: block;
            text-decoration: none;
            color: $color-dark;
            font-family: $font-josefin;
            transition: color 0.7s;
        }
    }
}

.name-title{
    font-family: $font-vibes;
    font-size: 50px;
    font-weight: 100;
    color: $color-dark;
    letter-spacing: 5px;
}

.name-menu-items{
    margin-top: 30px;
    @include flexlayout(space-between, center);

    .menu-item{
        position: relative;
        @include menustyle(30px, 30px);

        &:hover .menu-link{
            color: $color-secondary;
        }

        .menu-link{
            display: block;
            text-decoration: none;
            color: $color-dark;
            font-family: $font-josefin;
            transition: color 0.7s;

            i{
                cursor: pointer;
                font-size: 10px;
            }

            &:hover ~ .sub-menu, &:hover ~ .arrow{
                opacity: 1;
            }
        }

        .arrow{
            position: absolute;
            z-index: -1;
            right: 24px;
            top: 3px;
            width: 0px;
            height: 0px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-tertiary;
            border-top: 10px solid transparent;
            opacity: 0;
            transition: all 0.4s;
        }
    
        .sub-menu{
            position: absolute;
            z-index: 10;
            background: $color-tertiary;
            padding: 10px;
            margin-top: 7px;
            opacity: 0;
            transition: all 0.4s;
    
            &-items{
                @include menustyle(5px, 5px);
            }

            &-item{
                font-family: $font-josefin;
                color: $color-dark;
            }
        }
    }

}

.content-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: all 100s;
}

@for $i from 1 through 5 {
    .content-imgs:nth-child(#{$i}) {
      animation-name: fade#{$i};
      animation-duration: 20s;
      animation-iteration-count: infinite;
    }

    @keyframes fade#{$i} {
        0%{
            opacity: 0;
        }
        10%{
            @if $i == 1 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        20%{
            @if $i == 1 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        25%{
            opacity: 0;
        }
        30%{
            @if $i == 2 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        40%{
            @if $i == 2 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        45%{
            opacity: 0;
        }
        50%{
            @if $i == 3 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        60%{
            @if $i == 3 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        65%{
            opacity: 0;
        }
        70%{
            @if $i == 4 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        80%{
            @if $i == 4 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        85%{
            opacity: 0;
        }
        90%{
            @if $i == 5 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
        100%{
            @if $i == 5 {
                opacity: 1;
            } @else {
                opacity: 0;
            }
        }
    }
}


.information{
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 320px;
    height: 90px;
    color: $color-dark;
    font-family: $font-josefin;
    padding: 50px;
    background: rgba($color-light, 0.9);

    &-title{
        font-size: 35px;
        font-weight: 300x;
        margin-bottom: 10px;
    }
}

.product{
    transition: all 0.4s;
}

.description{
    width: 160px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flexlayout(space-around, center);
    flex-direction: column;
    box-sizing: border-box;
    font-family: $font-josefin;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-dark;
    background: rgba($color-light, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s 0.2s;

    &-title{
        font-size: 30px;
    }
    &-price{
        font-weight: 100;

        span{
            font-weight: bolder;
        }
    }

    &-button{
        display: block;
        width: 110px;
        height: 25px;
        color: $color-sun;
        background: $color-dark;
        border: 1px solid $color-sun;
        cursor: pointer;
    }
}